<body>
    <h1> Seach for a movie</h1>
    <form action="/moviesearch" method="POST">
        <input type="text" name="movie" placeholder="Enter Movie Name">
        <button>Search</button>
    </form>
</body>